<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ object.name }}</title>
</head>
<body>
    <p>{{ object.name }}</p>
    <p>{{ object.descriptions }}</p>
    <p>{{ object.price }}</p>
    <p>{{ object.shipping_cost }}</p>
    <p>{{ object.menufacture }}</p>
    
    <img src="{{object.price.url}}" alt="Product Photo">
    
</body>
</html>